USE [SKS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Person](
	[PersonID] [bigint] IDENTITY(1,1) NOT NULL,
	[Vorname] [nvarchar](max) NOT NULL,
	[Nachname] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](15) NOT NULL,
	[Passwort] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MesswertTyp](
	[MesswertTypID] [int] IDENTITY(1,1) NOT NULL,
	[Minimum] [bigint] NOT NULL,
	[Maximum] [bigint] NOT NULL,
	[Einheit] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MesswertTyp] PRIMARY KEY CLUSTERED 
(
	[MesswertTypID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Messwert](
	[MesswertID] [bigint] IDENTITY(1,1) NOT NULL,
	[Wert] [float] NOT NULL,
	[Zeitpunkt] [datetime] NOT NULL,
	[AnlageID] [bigint] NOT NULL,
	[MesswertTypID] [int] NOT NULL,
 CONSTRAINT [PK_Messwert] PRIMARY KEY CLUSTERED 
(
	[MesswertID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kunde](
	[KundeID] [bigint] IDENTITY(1,1) NOT NULL,
	[TechnikerID] [bigint] NOT NULL,
	[PersonID] [bigint] NOT NULL,
 CONSTRAINT [PK_Kunde] PRIMARY KEY CLUSTERED 
(
	[KundeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Techniker](
	[TechnikerID] [bigint] IDENTITY(1,1) NOT NULL,
	[PersonID] [bigint] NOT NULL,
 CONSTRAINT [PK_Techniker] PRIMARY KEY CLUSTERED 
(
	[TechnikerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Anlage](
	[AnlageSeriennummer] [nvarchar](max) NOT NULL,
	[Longitude] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Beschreibung] [nvarchar](max) NOT NULL,
	[KundeID] [bigint] NOT NULL,
	[AnlageID] [bigint] NOT NULL,
 CONSTRAINT [PK_Anlage] PRIMARY KEY CLUSTERED 
(
	[AnlageID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Anlage]  WITH CHECK ADD  CONSTRAINT [FK_Anlage_Kunde] FOREIGN KEY([KundeID])
REFERENCES [Kunde] ([KundeID])
GO
ALTER TABLE [Anlage] CHECK CONSTRAINT [FK_Anlage_Kunde]
GO
ALTER TABLE [Kunde]  WITH CHECK ADD  CONSTRAINT [FK_Kunde_Person] FOREIGN KEY([PersonID])
REFERENCES [Person] ([PersonID])
GO
ALTER TABLE [Kunde] CHECK CONSTRAINT [FK_Kunde_Person]
GO
ALTER TABLE [Kunde]  WITH CHECK ADD  CONSTRAINT [FK_Kunde_Techniker] FOREIGN KEY([TechnikerID])
REFERENCES [Techniker] ([TechnikerID])
GO
ALTER TABLE [Kunde] CHECK CONSTRAINT [FK_Kunde_Techniker]
GO
ALTER TABLE [Messwert]  WITH CHECK ADD  CONSTRAINT [FK_Messwert_Anlage] FOREIGN KEY([AnlageID])
REFERENCES [Anlage] ([AnlageID])
GO
ALTER TABLE [Messwert] CHECK CONSTRAINT [FK_Messwert_Anlage]
GO
ALTER TABLE [Messwert]  WITH CHECK ADD  CONSTRAINT [FK_Messwert_MesswertTyp] FOREIGN KEY([MesswertTypID])
REFERENCES [MesswertTyp] ([MesswertTypID])
GO
ALTER TABLE [Messwert] CHECK CONSTRAINT [FK_Messwert_MesswertTyp]
GO
ALTER TABLE [Techniker]  WITH CHECK ADD  CONSTRAINT [FK_Techniker_Person] FOREIGN KEY([PersonID])
REFERENCES [Person] ([PersonID])
GO
ALTER TABLE [Techniker] CHECK CONSTRAINT [FK_Techniker_Person]
GO
