<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="ISiteService" type="SKS.Scada.BL.ISiteService, SKS.Scada.BL" />
    <alias alias="SiteService" type="SKS.Scada.BL.SiteService, SKS.Scada.BL" />

    <alias alias="ICustomerService" type="SKS.Scada.BL.ICustomerService, SKS.Scada.BL" />
    <alias alias="CustomerService" type="SKS.Scada.BL.CustomerService, SKS.Scada.BL" />

    <alias alias="IRepository" type="SKS.Scada.DAL.IRepository`1, SKS.Scada.DAL" />
    <alias alias="DBRepository" type="SKS.Scada.DAL.DBRepository`1, SKS.Scada.DAL" />

    <alias alias="Site" type="SKS.Scada.DAL.Site, SKS.Scada.DAL" />
    <alias alias="IRepositorySite" type="SKS.Scada.DAL.IRepository[Site], SKS.Scada.DAL" />
    <alias alias="DBRepositorySite" type="SKS.Scada.DAL.DBRepository[Site], SKS.Scada.DAL" />

    <alias alias="Customer" type="SKS.Scada.DAL.Customer, SKS.Scada.DAL" />
    <alias alias="IRepositoryCustomer" type="SKS.Scada.DAL.IRepository[Customer], SKS.Scada.DAL" />
    <alias alias="DBRepositoryCustomer" type="SKS.Scada.DAL.DBRepository[Customer], SKS.Scada.DAL" />

    <register type="IRepository[]" mapTo="DBRepository[]" />
    <register type="IRepository[Site]" mapTo="DBRepository[Site]" />

    <container name="UnityContainer">

      <register type="ISiteService" mapTo="SiteService">
        <constructor>
          <param name="reposite" type="IRepository[Site]">
            <dependency />
          </param>
          <param name="repomeasurement" type="IRepository[Measurement]">
            <dependency />
          </param>
        </constructor>
      </register>


      <register type="ICustomerService" mapTo="CustomerService">
        <constructor>
          <param name="repocustomer" type="IRepository[Customer]">
            <dependency />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
  
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBinding_IServiceCRM">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SKS.Scada.CRMServiceBehavior"
        name="SKS.Scada.CRMService.ServiceCRM">
        <endpoint address="https://127.0.0.1:3395/ServiceCRM.svc" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_IServiceCRM"
          name="Endpoint_IServiceCRM" contract="SKS.Scada.CRMService.IServiceCRM">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SKS.Scada.CRMServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>